@model IMChatApp.Models.Login
@{
    ViewBag.Title = "Chat";
}

<style>
    #divChatWindowsWrapper {
        position: absolute;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 100%;
        border: 1px solid Black;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    #divConnectedUsersSection {
        margin: 5px;
        max-width: 300px;
        min-width: 200px;
        min-width: 20%;
        min-height: 20%;
        background-color: white;
        display: flex;
        overflow: auto;
        flex-direction: column;
    }

    #divChatScreensSection {
        min-width: 60%;
        margin: 5px;
        display: flex;
        overflow: scroll;
        flex-direction: column;
    }

    .divOngoingConversationSection {

    }
    
    .cssOneUserRecord {
        /*height: 47px;
        width: 98%;
        position: relative; 
        border-bottom: 1px solid white;*/
        max-width: inherit;
        min-width: inherit;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        overflow: auto;
        flex-direction: column;
    }
    .numberUsersOnlineStyle {
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        overflow: auto;
    }

</style>

<h2>Chat</h2>
<div id="divChatWindowsWrapper" ng-app="ChatApp" ng-controller="chatController">

    <div class="alert-success " id="userNick" ng-show="false">Welcome   <h4 id="userNick">  @ViewBag.Username !!</h4> </div>
    @* Master = List of connected users *@
    <div id="divConnectedUsersSection">
        <div id="OnlineUsers">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="fa fa-users numberUsersOnlineStyle">&nbsp; &nbsp; Online[{{OnlineUsers.length}}]</span>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="" ng-click="ChangeStatus('Online')">
                                        <span class="glyphicon glyphicon-ok-sign">
                                        </span>Available
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="ChangeStatus('Busy')">
                                        <span class="glyphicon glyphicon-remove">
                                        </span>Busy
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="ChangeStatus('Away')">
                                        <span class="glyphicon glyphicon-time"></span>
                                        Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="">
                                        <span class="glyphicon glyphicon-off"></span>
                                        Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body" ng-class="">
                        <div id="{{user.name}}" class="cssOneUserRecord" ng-repeat='user in OnlineUsers track by $index' >
                                <div class="media-body" >
                                    <h3 class="media-heading">
                                        <strong>
                                            <a href="#" ng-click="PrivateMessage($index)">
                                                <i class="fa fa-minus-circle" style="color: red" ng-show="user.status=='Busy'"></i>
                                                <i class="fa fa-circle" style="color: green" ng-show="user.status=='Online'"> </i>
                                                <i class="fa fa-history" style="color: orange" ng-show="user.status=='Away'"> </i>
                                                {{user.name}}
                                                <i class="fa fa-flag" style="color:red" ng-show="PendingMessageFromUser($index)"></i>
                                            </a>
                                        </strong>
                                    </h3>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    @* Detail = Chat screens. *@
    <div id="divChatScreensSection" ng-show="ShowPrivateWindow">
            <div class="container">
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span> {{UserInPrivateChat.name}}
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs" ng-click="ClosePrivateWindow()" ng-class="{'active': showPrivateWindow == false}">
                                        <span class="glyphicon glyphicon-remove"> </span>
                                    </button>
                                </div>
                            </div>
                            <div class="divOngoingConversationSection">
                                <ul class="chat">
                                    <li ng-class="(msg.from == UserInPrivateChat.name )? 'left' : 'right'" class="clearfix" ng-repeat="msg in PrivateMessages | filter:({to: UserInPrivateChat.ConnectionId})">
                                        <span class="chat-img" ng-class="(msg.from == UserInPrivateChat.name )? 'pull-left' : 'pull-right'">
                                            <img ng-src="{{(msg.from == UserInPrivateChat.name )? 'http://placehold.it/40/FA6F57/fff&text=OT' : 'http://placehold.it/40/55C1E7/fff&text=ME' }} " alt="User Avatar" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{msg.from}}</strong>
                                                <small ng-class="(msg.from == UserInPrivateChat.name )? 'pull-left' : 'pull-right'"
                                                       class="text-muted">

                                                </small>
                                            </div>
                                            <p>
                                                {{msg.message}}
                                            </p>
                                        </div>
                                        <hr />
                                    </li>
                                </ul>
                            </div>
                            @*<div class="panel-body" style="overflow-y: scroll; min-height: 200px; max-height: 80%;">
            <ul class="chat">
                <li ng-class="(msg.from == UserInPrivateChat.name )? 'left' : 'right'" class="clearfix" ng-repeat="msg in PrivateMessages | filter:({to: UserInPrivateChat.ConnectionId})">
                    <span class="chat-img" ng-class="(msg.from == UserInPrivateChat.name )? 'pull-left' : 'pull-right'">
                        <img ng-src="{{(msg.from == UserInPrivateChat.name )? 'http://placehold.it/40/FA6F57/fff&text=OT' : 'http://placehold.it/40/55C1E7/fff&text=ME' }} " alt="User Avatar"/>
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{msg.from}}</strong>
                            <small ng-class="(msg.from == UserInPrivateChat.name )? 'pull-left' : 'pull-right'"
                                   class="text-muted">

                            </small>
                        </div>
                        <p>
                            {{msg.message}}
                        </p>
                    </div>
                    <hr/>
                </li>
            </ul>
        </div>*@
                            <div class="panel-footer">

                                <div>
                                    {{usertyping}}
                                </div>
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" ng-model="pvtmessage" placeholder="Type your message here..." ng-keypress="SkeyPress($event)" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="SendPrivateMessage();">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <div flash-message="7000" style="z-index: 400; position: absolute; bottom: 0px; left: 1px;"></div>

            </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/ChatScripts/angular.min.js"></script>
    <script src="~/Scripts/angular-flash.js"></script>
    <script type="text/javascript">
        var app = angular.module("ChatApp", ["flash"]);
    </script>

    <script src="~/ChatScripts/Controlers.js"></script>
    <script src="~/ChatScripts/Factories.js"></script>


}
