@model IMChatApp.Models.Login
@{
    ViewBag.Title = "Chat";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<style>
    * {
        box-sizing: border-box;
    }

    @@media all and (max-width: 1024px) {
        .moduleWrapper {
            /*position: absolute;*/
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            max-height: 100%;
            border: 1px solid Black;
            padding: 5px;
            display: flex;
            flex-direction: row;
            /*overflow: hidden;*/
            font-size: 15px;
        }

        OnlineUsers {
            margin: 5px;
            max-width: 300px;
            min-width: 200px;
            min-width: 20%;
            min-height: 100%;
            background-color: white;
            display: flex;
            /*overflow: hidden;*/
            flex-flow: column;
        }


        OnlineUsersHeader {
            border-style: dashed;
            border-width: 5px;
            border-color: cornflowerblue;
            background-color: aliceblue;
            min-height: 20%;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            /*overflow: auto;*/
            align-items: flex-start;
            align-content: center;
        }

        NumberUsersOnline {
            padding: 0 8px;
            color: black;
            white-space: nowrap;
            overflow: auto;
            display: flex;
        }

        /*.userStatusUpdateButton {
            padding: 0 8px;
            overflow: auto;
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
        }*/

        OnlineUsersBody {
            background-color: aliceblue;
        }

        UserRecord {
            white-space: nowrap;
            display: flex;
            overflow: auto;
            flex-direction: column;
        }
    }
    @@media all and (min-width: 1024px) {
         .moduleWrapper {
             /*position: absolute;*/
             top: 0%;
             left: 0%;
             width: 100%;
             height: 100%;
             max-height: 100%;
             border: 1px solid Black;
             padding: 5px;
             display: flex;
             flex-direction: row;
             /*overflow: hidden;*/

         }

         OnlineUsers {
             background-color: aliceblue;
             margin: 5px;
             max-width: 300px;
             min-width: 200px;
             min-width: 20%;
             min-height: 100%;
             background-color: white;
             display: flex;
             /*overflow: hidden;*/
             flex-flow: column;
             font-size: 2vw;
         }
    

         OnlineUsersHeader {
             border-style: dashed;
             border-width: 5px;
             border-color: cornflowerblue;
             background-color: aliceblue;
             min-height: 20%;
             border-radius: 4px;
             display: flex;
             flex-direction: row;
             flex-wrap: nowrap;
             /*overflow: auto;*/
             align-items: flex-start;
             align-content: center;
         }

         NumberUsersOnline {
             padding: 0 8px;
             color: black;
             white-space: nowrap;
             overflow: auto;
             display: flex;
         }
         /*.userStatusUpdateButton {
             padding: 0 8px;
             overflow: auto;
             display: flex;
             flex: 1 0 auto;
             flex-direction: column;
         }*/

        OnlineUsersBody {
            background-color: aliceblue;
        }

        UserRecord {
            color: black;
            white-space: nowrap;
            display: flex;
            overflow: auto;
            flex-direction: column;
        }
    
    }
         /*
    .divConnectedUsersSection {
        margin: 5px;
        max-width: 300px;
        min-width: 200px;
        min-width: 20%;
        min-height: 100%;
        background-color: white;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }

    .cssOneUserRecord {
        max-width: inherit;
        min-width: inherit;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        overflow: auto;
        flex-direction: column;
    }
    .numberUsersOnlineStyle {
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        overflow: auto;
    }

    .divChatScreensSection {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
        overflow: hidden;
    }

    .divOngoingChatContainer {
        flex: 1 1 auto;
        overflow: auto;
        min-height: 0px;
        background-color: white;
    }

    .chatMessage {
        flex: 0 0 auto;
        overflow: auto;
        min-height: 0px;
    }
    */


         
</style>

    <h2>Chat</h2>

    <div class="moduleWrapper" ng-app="ChatApp" ng-controller="chatController">
        <OnlineUsers>
            <div class="panel panel-primary">
                <OnlineUsersHeader>  
                    <div class="panel-heading">
                        <NumberUsersOnline class="fa fa-users">&nbsp; Online[{{OnlineUsers.length}}]</NumberUsersOnline>
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="" ng-click="ChangeStatus('Online')">
                                        <span class="glyphicon glyphicon-ok-sign">
                                        </span>Available
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="ChangeStatus('Busy')">
                                        <span class="glyphicon glyphicon-remove">
                                        </span>Busy
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="ChangeStatus('Away')">
                                        <span class="glyphicon glyphicon-time"></span>
                                        Away
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="">
                                        <span class="glyphicon glyphicon-off"></span>
                                        Sign Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </OnlineUsersHeader>
                <OnlineUsersBody>
                    <div class="panel-body">
                        <UserRecord id="{{user.name}}" ng-repeat='user in OnlineUsers track by $index'>
                            <div class="media-body">
                                <div class="media-heading">
                                    <strong>
                                        <a href="#" ng-click="PrivateMessage($index)">
                                            <i class="fa fa-minus-circle" style="color: red" ng-show="user.status=='Busy'"></i>
                                            <i class="fa fa-circle" style="color: green" ng-show="user.status=='Online'"> </i>
                                            <i class="fa fa-history" style="color: orange" ng-show="user.status=='Away'"> </i>
                                            {{user.name}}
                                            <i class="fa fa-flag" style="color:red" ng-show="PendingMessageFromUser($index)"></i>
                                        </a>
                                    </strong>
                                </div>
                            </div>
                        </UserRecord>
                    </div>
                </OnlineUsersBody>
            </div>
        </OnlineUsers>
    </div>

   

    @section Scripts
    {
        <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/ChatScripts/angular.min.js"></script>
        <script src="~/Scripts/angular-flash.js"></script>
        <script type="text/javascript">
            var app = angular.module("ChatApp", ["flash"])
                .directive('scrollBottom', ['$timeout', function ($timeout) {
                    return {
                        scope: {
                            scrollBottom: "="
                        },
                        link: function (scope, element) {
                            scope.$watchCollection('scrollBottom', function (newValue) {
                                if (newValue) {
                                    $(element).scrollTop($(element)[0].scrollHeight);
                                }
                            });
                        }
                    }
                }]);
        </script>

        <script src="~/ChatScripts/Controlers.js"></script>
        <script src="~/ChatScripts/Factories.js"></script>


    }
